<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>youthdepot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>YouthDepotFrontControllerServlet</display-name>
    <servlet-name>YouthDepotFrontControllerServlet</servlet-name>
    <servlet-class>control.YouthDepotFrontControllerServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/youthdepot.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YouthDepotFrontControllerServlet</servlet-name>
    <url-pattern>*.two</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestInsertServlet</display-name>
    <servlet-name>InvestInsertServlet</servlet-name>
    <servlet-class>control.apply.InvestInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestInsertServlet</servlet-name>
    <url-pattern>/user/apply/investinsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RewardInsertServlet</display-name>
    <servlet-name>RewardInsertServlet</servlet-name>
    <servlet-class>control.apply.RewardInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RewardInsertServlet</servlet-name>
    <url-pattern>/user/apply/rewardinsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoardListServlet</display-name>
    <servlet-name>UserBoardListServlet</servlet-name>
    <servlet-class>control.borad.UserBoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoardListServlet</servlet-name>
    <url-pattern>/user/boards/userboardlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoardSerchServlet</display-name>
    <servlet-name>UserBoardSerchServlet</servlet-name>
    <servlet-class>control.borad.UserBoardSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoardSerchServlet</servlet-name>
    <url-pattern>/user/boards/userboardserch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoradUpdateServlet</display-name>
    <servlet-name>UserBoradUpdateServlet</servlet-name>
    <servlet-class>control.borad.UserBoradUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoradUpdateServlet</servlet-name>
    <url-pattern>/user/boards/userboradupdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoardViewServlet</display-name>
    <servlet-name>UserBoardViewServlet</servlet-name>
    <servlet-class>control.borad.UserBoardViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoardViewServlet</servlet-name>
    <url-pattern>/user/boards/userboardview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoardWrietServlet</display-name>
    <servlet-name>UserBoardWrietServlet</servlet-name>
    <servlet-class>control.borad.UserBoardWrietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoardWrietServlet</servlet-name>
    <url-pattern>/user/boards/userboardwriet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckServlet</display-name>
    <servlet-name>IdCheckServlet</servlet-name>
    <servlet-class>control.mypage.IdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckServlet</servlet-name>
    <url-pattern>/user/mypage/idcheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.mypage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/mypage/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageBoardServlet</display-name>
    <servlet-name>MyPageBoardServlet</servlet-name>
    <servlet-class>control.mypage.MyPageBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageBoardServlet</servlet-name>
    <url-pattern>/user/mypage/mypageboard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageSerchServlet</display-name>
    <servlet-name>MyPageSerchServlet</servlet-name>
    <servlet-class>control.mypage.MyPageSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageSerchServlet</servlet-name>
    <url-pattern>/user/mypage/mypageserch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NickNameCheckServlet</display-name>
    <servlet-name>NickNameCheckServlet</servlet-name>
    <servlet-class>control.mypage.NickNameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NickNameCheckServlet</servlet-name>
    <url-pattern>/user/mypage/nicknamecheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneUpdateServlet</display-name>
    <servlet-name>PhoneUpdateServlet</servlet-name>
    <servlet-class>control.mypage.PhoneUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneUpdateServlet</servlet-name>
    <url-pattern>/user/mypage/phoneupdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointAddServlet</display-name>
    <servlet-name>PointAddServlet</servlet-name>
    <servlet-class>control.mypage.PointAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointAddServlet</servlet-name>
    <url-pattern>/user/mypage/pointadd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZipSerchServlet</display-name>
    <servlet-name>ZipSerchServlet</servlet-name>
    <servlet-class>control.mypage.ZipSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipSerchServlet</servlet-name>
    <url-pattern>/user/mypage/zipserch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestListServlet</display-name>
    <servlet-name>InvestListServlet</servlet-name>
    <servlet-class>control.funding.InvestListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestListServlet</servlet-name>
    <url-pattern>/user/pages/investlist.do</url-pattern>
  </servlet-mapping>
</web-app>