<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>youthdepot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>YouthDepotFrontControllerServlet</display-name>
    <servlet-name>YouthDepotFrontControllerServlet</servlet-name>
    <servlet-class>control.YouthDepotFrontControllerServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/youthdepot.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YouthDepotFrontControllerServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyController</display-name>
    <servlet-name>ApplyController</servlet-name>
    <servlet-class>admin.apply.ApplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyController</servlet-name>
    <url-pattern>/ApplyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RewardController</display-name>
    <servlet-name>RewardController</servlet-name>
    <servlet-class>user.reward.RewardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RewardController</servlet-name>
    <url-pattern>/RewardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMemberController</display-name>
    <servlet-name>UserMemberController</servlet-name>
    <servlet-class>user.member.UserMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMemberController</servlet-name>
    <url-pattern>/UserMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBoardController</display-name>
    <servlet-name>UserBoardController</servlet-name>
    <servlet-class>user.board.UserBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBoardController</servlet-name>
    <url-pattern>/UserBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostController</display-name>
    <servlet-name>PostController</servlet-name>
    <servlet-class>admin.board.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/PostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>admin.member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectController</display-name>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>admin.projcet.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/ProjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>admin.table.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalPayController</display-name>
    <servlet-name>TotalPayController</servlet-name>
    <servlet-class>admin.totalpay.TotalPayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalPayController</servlet-name>
    <url-pattern>/TotalPayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>admin.yeoljeongpay.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/DepositController</url-pattern>
  </servlet-mapping>
</web-app>